.courses{
	padding-bottom: 50px;
}

.courses #course_selection{
	width: 100%;
}

.courses .course_div{
	display: table-cell;
}

.courses #add_course_holder{

}
.courses p{
	margin-left: 50px;
	margin-top: 10px;
}

.courses .input_holder{
	margin-left: 50px;
	margin-top: 10px;
	
}

.courses .course_div p{
	margin-bottom: 10px; 

	font-size: 30px;
	font-weight: bold;
}

.courses .input_holder select{
	width: 280px;
	height: 30px;

	padding: 5px;	
	font-size: 15px;

	background-color: #fff;
	border: solid 1px #cbc9c9;
	border-radius: 5px;
	box-shadow: 1px 2px 5px rgba(0,0,0,.09); 

    -webkit-border-radius: 5px;
  	-moz-border-radius: 5px;
	-webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
	-moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
	
	
}

.courses .input_holder #select_university,
.courses .input_holder #select_course {
	/*
	DEVELOP
	pointer-events: none;*/
	background-color: transparent;

}

.courses .input_holder select option{
}

.courses .button{
	font-size: 16px;
  	font-weight: 600;
  	color: #F0FFFF;
  	padding: 10px 10px 10px 10px;
  	margin: 20px 8px 20px 44px;
 

	border: none;
	border-radius: 5px; 
  	background-color: #78F36B; 
  	-webkit-border-radius: 5px; 
  	-moz-border-radius: 5px; 

  	-webkit-box-shadow: 0 3px rgba(159, 249, 150,.75); 
  	-moz-box-shadow: 0 3px rgba(159, 249, 150,.75); 
  	box-shadow: 0 3px rgba(159, 249, 150,.75);
  	transition: all 0.1s linear 0s; 
  	position: relative;
}

.courses .button:hover{
	top: 3px;
	background-color: #57EB47;
	-webkit-box-shadow: none; 
  	-moz-box-shadow: none; 
  	box-shadow: none;
  	cursor: pointer;
}

.courses #input #view_course_button{
	margin-left: 5px;
	margin-top: 30px;
}

.courses #add_course_holder p{
	margin-left: 50px;

}

.courses #add_course_holder #add_course_button{
	margin-left: 5px;
	margin-top: 20px;

}

.courses #add_course_holder #add_course_button #add_course_warning_text{
	display: none;
}

.courses #add_course_holder #add_course_button .warning_text{
	padding-top: 10px;
	font-size: 15px;
	color: #D8000C;
}
.courses #add_course_holder #add_course_button #second_warning_text{
	padding-top: 0px;
}


.courses #course_information{
	margin: 50px 50px 50px 50px;
}

.courses #course_information h1{
	font-size: 40px;
	margin-top: 10px;
	margin-left: 50px;
	display: table-cell;
}

.courses #course_information #course_added p,
.courses #course_information #rating_added p{
	margin-left: 0px;
}

.courses #course_information #course_rating .general_rating{
	font-size: 40px;
	font-weight: bold;
	padding-left: 467px;
	display: table-cell;
	color: #78F36B;
}
.courses #course_information #course_rating #add_review_button{
		display: table-cell;
	margin-left: 60px;
}

.courses #course_information #course_rating #add_review_button .button{

	position: relative;
	top: -8px;
}
.courses #course_information #course_rating #add_review_button .button:hover{
	top: -5px;
	cursor: pointer;
}

.courses #course_information #course_rating .error_message{
	display: none;
	float: right;
	width: 155px;
	padding-top: 0px;
	margin: 0px;

	font-size: 15px;
	color: #D8000C;
}

.courses #course_information #course_rating .error_message p{
	margin-left: 0;
}

.courses #course_information #course_rating ul{
	list-style: none;
	margin-top: 10px;

}

.courses #course_information #course_rating li{
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 10px;
	width: 650px;

	border-radius: 5px;
	border: 1px solid #78F36B;
	box-shadow: 0px 1px 5px #888888;

	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.courses #course_information #course_rating li:hover{
	cursor: pointer;
	box-shadow: 0px 5px 5px #888888;
}

.courses #course_information #course_rating #usefulness,
.courses #course_information #course_rating #difficulty{
	box-shadow: none;

}

.courses #course_information #course_rating #usefulness:hover,
.courses #course_information #course_rating #difficulty:hover{
	cursor: default;
	box-shadow: none;
}

.courses #course_information #course_rating #usefulness .part,
.courses #course_information #course_rating #difficulty .part{
	padding-left: 38px;
}

.courses #course_information #course_rating li .course_information_list_item_container{
	margin-top: 12px;

}

.courses #course_information #course_rating li .course_information_list_item_container .comment_icon{
	display: table-cell;
	padding-left: 10px;
	font-size: 25px;

}

.courses #course_information #course_rating li p{
	font-size: 30px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.courses #course_information #course_rating li .part{
	width: 270px;
	display: table-cell;
	padding-bottom: 15px;
	padding-left: 10px;
}


.courses #course_information #course_rating li .progress_div{
	width: 250px;
	margin-left: 50px;
	display: table-cell;
	margin-left: 150px;
}

.courses #course_information #course_rating li .progress_div .progress_bar{
	border:1px solid black;
	width: 240px;
}

.courses #course_information #course_rating li .progress_div .progress_bar > div{
	background-color: #78F36B;
	width: 50%;
	height: 20px;
}
.courses #course_information #course_rating li .part_rating{
	width: 50px;	
	display: table-cell;
}

.courses #course_information #course_rating li .part_rating p{
	margin-right: 10px;
	margin-left: 30px;
}

.courses #course_information #course_rating .comments_list{
	margin-left: 10px;
	margin-right: 10px;

	height: 300px;
	overflow-y: scroll;
}

.courses #course_information #course_rating .comments_list .comments_list_items{
	border: none;
	box-shadow: 0px 0px 10px #888888;
	height: auto;
	position: relative;
	width: 600px;
	margin-left: 10px;
	margin-right: 10px;

}

.courses #course_information #course_rating .comments_list .comments_list_items .comment{
	font-size: 17px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	padding: 10px;
	padding-top: 20px;
	color: gray;
}

.courses #course_information #course_rating .comments_list .comments_list_items .date{
	font-size: 8px;
	font-style: italic;
	position: absolute;
	top: 5px;
	left: 10px;
}
.courses #add_course{

}

.courses #add_course #add_course_info{
	font-size: 20px;
	margin-left: 0;
}
.courses #add_course_form_div{
	float: none;
	margin-top: 10px;

}
.courses #add_course_form_div #checkbox_div {
	margin-top: 20px;
}

.courses #add_course_form_div #checkbox_div .input_div{
	margin-top: 10px;
}
.courses #add_course_form_div #checkbox_div label{
	margin-left: 15px;
	display: inline;
}

.courses #add_course_form_div #checkbox_div input[type="checkbox"]{
	display: none;
}
.courses #add_course_form_div #checkbox_div input[type="checkbox"] + span:before{
	font-family: 'FontAwesome';
 	padding-right: 3px;
  	font-size: 20px;
  	color: #78F36B;
}

.courses #add_course_form_div #checkbox_div input[type="checkbox"] + span:before {
  content: "\f096"; /* check-empty */
}

.courses #add_course_form_div #checkbox_div input[type="checkbox"]:checked + span:before {
  content: "\f046"; /* check */
}

.courses #add_course_form_div #add_course_form_button{
	padding: 5px 5px 5px 5px;
	width: 90px;
	height: 40px;
	margin-left: 15px;
}

.courses .error_message{
	margin-left: 15px;
	margin-bottom: 10px;

}

.courses .error_message p,
.courses .error_message #add_course_message p{
	font-size: 15px;
}


.courses #add_review #form_div_review{
	float: none;
}

.courses #add_review #form_div_review form{
	margin-left: 50px;
}

.courses #add_review #form_div_review form .part_review{
	display: block;
	margin-left: 0px;
}

.courses #add_review #form_div_review form .part_review p{
	font-size: 25px;
	margin-left: 0px;
}

.courses #add_review #form_div_review form .part_review .rating {
    color: #a9a9a9;
    margin: 0;
    padding: 0;
}
.courses #add_review #form_div_review form .part_review ul.rating {
	margin-top: 10px;
    margin-left: 0px;
}
.courses #add_review #form_div_review form .part_review .rating li {
    list-style-type: none;
    display: inline-block;
    padding: 1px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
}
.courses #add_review #form_div_review form .part_review .rating .filled {
    color: #78F36B;
}

.courses #add_review #form_div_review form .part_review .review_comment{
	margin-top: 10px;
	width: 300px;
	height: 60px;

	resize: none;

	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 13px;
}

.courses #add_review .form_div #add_review_message{
	margin-left: 0px;
}















