.courses{
	padding-bottom: 50px;
}

.courses #course_selection{
	width: 100%;
}

.courses .course_div{
	display: table-cell;
}

.courses #add_course_holder{
	margin-left: 50px;
}

.courses .input_holder{
	margin-left: 50px;
	margin-top: 10px;

}

.courses .course_div p{
	margin-bottom:10px; 

	font-size: 30px;
	font-weight: bold;
}

.courses .input_holder select{
	width: 280px;
	height: 30px;
	border: 2px solid green;
	padding: 5px;
	
	font-size: 15px;

	-webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}

.courses .input_holder #select_university,
.courses .input_holder #select_course {
	/*
	DEVELOP
	pointer-events: none;*/
	border: none;

}

.courses .input_holder select option{
}

.courses button{
	background-color: white;
	border-radius: 5px;

	font-size: 15px;
	padding: 10px;
}

.courses #input #view_course_button{
	margin-left: 50px;
	margin-top: 20px;
}

.courses #add_course_holder p{
	margin-left: 50px;

}

.courses #add_course_holder #add_course_button{
	border: 2px solid green;
	margin-left: 50px;

}

.courses #course_information{
	border: 3px solid green;
	margin: 50px 50px 50px 50px;
}

.courses #course_information h1{
	font-size: 40px;
	margin-top: 10px;
	margin-left: 50px;
}

.courses #course_information ul{
	list-style: none;
	margin-top: 10px;

}

.courses #course_information li{
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 10px;

	
	height: 60px;
	border: 1px solid green;

}

.courses #course_information li .course_information_list_item_container{
	margin-top: 12px;

}

.courses #course_information li p{
	font-size: 30px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.courses #course_information li .part{
	width: 350px;
	display: table-cell;
	margin-left: 10px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-left: 10px;
}


.courses #course_information li .progress_div{
	width: 350px;
	margin-left: 50px;
	display: table-cell;
	margin-left: 150px;
}

.courses #course_information li .progress_div .progress_bar{
		border:1px solid black;
			width: 240px;
}

.courses #course_information li .progress_div .progress_bar > div{
	background-color: green;
	width: 50%;
	height: 20px;
}
.courses #course_information li .part_rating{
	width: 100px;	
	display: table-cell;
}

.courses #course_information li .part_rating p{
	float: right;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-top: 0px;
}


















