@import url(http://fonts.googleapis.com/css?family=Capriola);
body{
	padding: 0;
	margin:0;
	background: #eeeeee;
}

body p, body h1, body h2, body a, body span, body label{
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.content{
	margin-right: auto;
	margin-left: auto;

	width: 1000px;
	border: 1px solid black;
	background-color: #F0FFFF
	
}

#navigation{
	height: 70px;
	padding-bottom: 4px;

	background-color: black;
}


#navigation ul{
	display: inline-block;
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
	
}

#navigation li{
	display: inline-block;

	width: 150px;
	margin-right: 4px;
	
	opacity: 0.6;
	color: #eeeeee;
	
}

#navigation li:hover{
	opacity: 1;
}

.fa{
	color: #78F36B;
}

#navigation .active{

}

#navigation #navigation_menu a{
	text-decoration: none;
	display: block;
	
	text-align: center;
	padding: 16px 0 16px 0;

	font-size: 25px;
	color: #eeeeee;
}
#navigation #login_box{
	position: relative;
}
#navigation #login_box #login_form{
	display: inline-block;
	margin-top: 10px;
	float: right;
}

#navigation #login_box #login_inputs{
	display: inline-block;
}

#navigation #login_box #login_inputs input{
	display: block;
	margin-bottom: 5px;
	width: 200px;

	font-size: 12px;
	padding:2px 5px 2px 10px;

	-webkit-border-radius: 5px;
  	-moz-border-radius: 5px;
	border-radius: 5px; 
	background-color: #fff; 
	-webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
	-moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
	box-shadow: 1px 2px 5px rgba(0,0,0,.09);
	border: solid 1px #cbc9c9; 
}
#navigation #login_box #login_div{
		display: inline-block;
	  	margin: 0 10px 10px 10px;
}
#navigation #login_box #login_button{
	font-size: 16px;
  	font-weight: 600;
  	color: #F0FFFF;
  	padding: 0px 10px 0px 10px;
  	margin-bottom: 12px;


	text-decoration: none;

	border: none;
  	-webkit-border-radius: 5px; 
  	-moz-border-radius: 5px; 
  	border-radius: 5px; 
  	background-color: #78F36B; 
  	-webkit-box-shadow: 0 3px rgba(159, 249, 150,.75); 
  	-moz-box-shadow: 0 3px rgba(159, 249, 150,.75); 
  	box-shadow: 0 3px rgba(159, 249, 150,.75);
  	transition: all 0.1s linear 0s; 

  	position: relative;
}

#navigation #login_box #login_button:hover{
	top: 3px;
	background-color: #57EB47;
	-webkit-box-shadow: none; 
  	-moz-box-shadow: none; 
  	box-shadow: none;
  	cursor: pointer;
}


#navigation #login_box .log_link{
	display: block;
	color: white;
	text-decoration: none;
}

#navigation #login_box #logged_in_box{
	margin-top: 10px;
	margin-right: 10px;
	float: right;
	display: none;
}

#navigation #login_box #logged_in_box p{
	margin-bottom: 10px;
	color: white;
}

#navigation #login_box #logged_in_box #logout_button{

	float:right;
	font-size: 16px;
  	font-weight: 600;
  	color: #F0FFFF;
  	padding: 5px 10px 5px 10px;
  	margin-bottom: 12px;

	text-decoration: none;

	border: none;
  	-webkit-border-radius: 5px; 
  	-moz-border-radius: 5px; 
  	border-radius: 5px; 
  	background-color: #78F36B; 
  	-webkit-box-shadow: 0 3px rgba(159, 249, 150,.75); 
  	-moz-box-shadow: 0 3px rgba(159, 249, 150,.75); 
  	box-shadow: 0 3px rgba(159, 249, 150,.75);
  	transition: all 0.1s linear 0s; 

  	position: relative;
}
#navigation #login_box #logged_in_box #logout_button:hover{
		top: 3px;
	background-color: #57EB47;
	-webkit-box-shadow: none; 
  	-moz-box-shadow: none; 
  	box-shadow: none;
  	cursor: pointer;
}

#navigation #login_box #login_mess{
	width: 215px;
	height: 40px;

	position: absolute;
	right: 90px;
	top: 74px;
}

#navigation #login_box #login_mess p {
	color: red;
}







