
.home{

}

.button{
	
}

#home_information{
	width: 400px;
	

	float: left;
	margin-left: 50px;
	margin-top: 50px;	
	margin-bottom: 50px;

	text-align: center;
}

#home_information #about h1{
	font-size: 50px;
	font-weight: bold;
	color: #78F36B;
}
#home_information #about h2{
	font-size: 20px;
	margin-top: 10px;
}

#home_information #news{
	margin-top: 90px;
}
#home_information #news h1{
	font-size: 30px;
}


#home_information #news #android{
	margin-top: 10px;
	font-size: 130px;
}



.form_div{
	width: 400px;
	float: right;

	margin-right: 50px;
	margin-top: 50px;
	margin-bottom: 50px;

	-webkit-border-radius: 8px/7px; 
  	-moz-border-radius: 8px/7px; 
	border-radius: 5px;
	background-color: #F0FFFF; 
	-webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
	-moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
	box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
	border: solid 1px #cbc9c9;
}
.form_div h1{
	font-size: 25px;
	margin-left: 15px;
}
.form_div h2{
	margin-top: 5px;
	margin-left: 15px;
}

.form_div .form_form{
	margin: 10px 10px;
}

.form_div .form_form .form_item{

}

.form_div .form_form .form_item input,
.form_div .form_form .form_item select{
	width: 300px;
	height: 30px;
	
	margin-top: 10px;
	padding-left: 10px;
	margin-left: -5px;

	
	-webkit-border-radius: 5px;
  	-moz-border-radius: 5px;
	border-radius: 5px; 
	background-color: #fff; 
	-webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
	-moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
	box-shadow: 1px 2px 5px rgba(0,0,0,.09);
	border: solid 1px #cbc9c9; 
}
.form_div .form_form .form_item select{
	width: 313px;
	color: #999;
}

.form_div .form_form .form_item label{
	display: inline-block;
  	width: 30px;
	
	padding:8px 0px 8px 15px;
	margin-top: 1px;
}


.form_div .form_form .button{
	width: 120px;
	height: 50px;

	font-size: 16px;
  	font-weight: 600;
  	color: #F0FFFF;
  	padding: 0px 30px 0px 25px;
  	margin: 20px 8px 20px 44px;
  	display: block;


	text-decoration: none;

	border: none;
  	-webkit-border-radius: 5px; 
  	-moz-border-radius: 5px; 
  	border-radius: 5px; 
  	background-color: #78F36B; 
  	-webkit-box-shadow: 0 3px rgba(159, 249, 150,.75); 
  	-moz-box-shadow: 0 3px rgba(159, 249, 150,.75); 
  	box-shadow: 0 3px rgba(159, 249, 150,.75);
  	transition: all 0.1s linear 0s; 

  	position: relative;
}
.form_div .form_form .button:hover{
	top: 3px;
	background-color: #57EB47;
	-webkit-box-shadow: none; 
  	-moz-box-shadow: none; 
  	box-shadow: none;
  	cursor: pointer;

}

#registration #register_message{
	margin-left: 25px;
	margin-bottom: 10px;

	
}
#registration #register_message p{
	font-size: 15px;
}





