<div class="courses">

	<div id="course_selection">

		<div class="course_div" id="input">

			<div class="input_holder">
				<p>Find Course</p>

				<select id="select_country" ng-model="model_selectedCountry" ng-change="getUniversities(model_selectedCountry)">
					<option value="" disabled selected>Select Country</option>
					<option ng-repeat="country in countries">
						{{country}}
					</option>	
				</select>

			</div>

			<div class="input_holder">

				<select id="select_university" ng-model="model_selectedUniversity" ng-style=styleSelectUniversity ng-change="getCourses(model_selectedUniversity)" >
					<option value="" disabled selected>Select University</option>
					<option ng-repeat="university in universities">
						{{university}}
					</option>
				</select>

			</div>

			<div class="input_holder">

				<select id="select_course" ng-model="model_course_input" ng-style="styleSelectCourse" ng-change="clickedCourse()">
					<option value="" disables selected>Select Course</option>
					<option ng-repeat="course in courses">
						{{course}}
					</option>
				</select>

			</div>

				<!-- DEVELOP 
				<button id="view_course_button" ng-click="getCourseInformation(model_course_input)" ng-style="styleViewCourseButton">View Ratings</button>
				-->
				<button id="view_course_button" ng-click="getCourseInformation('TANA21')" ng-style="styleViewCourseButton">View TANA21</button>
		</div>

		<div class="course_div" id="add_course_holder">
			<p>Cant find a course?</p>
			<button id="add_course_button">Add Course</button>
		</div>
	</div>

	<div id="course_information">
		<h1>{{course}}</h1>
		<ul>

			<li id="usefulness">
			<div class="course_information_list_item_container">
				<div class="part">
					<p>Usefulness</p>
				</div>

				<div class="progress_div">
					<div class="progress_bar">
						<div></div>
					</div>
				</div>	
				
				<div class="part_rating">
					<p>{{courseInformation.Ratings[0]['AVG(cI.usefulness)'] | number:1}}</p>
				</div>
			<div class="course_information_list_item_container">
			</li>
			
			<li id="difficulty">
				<div class="part">
					<p>Difficulty</p>
				</div>
				
				<div class="progress_div">
					<div class="progress_bar">
						<div></div>
					</div>
				</div>
				
				<div class="part_rating">
					<p>{{courseInformation.Ratings[0]['AVG(cI.difficulty)'] | number:1}}</p>
				</div>
			</li>

			<li id="exam_rating">
				<div class="part">
					<p>Exam</p>
				</div>

				<div class="progress_div">
					<div class="progress_bar">
						<div></div>
					</div>
				</div>

				<div class="part_rating">
					<p>{{courseInformation.Ratings[0]['AVG(cI.examRating)'] | number:1}}</p>
				</div>	
			</li>

			<li id="lecture_rating">
				<div class="part">
					<p>Lectures</p>
				</div>

				<div class="progress_div">
					<div class="progress_bar">
						<div></div>
					</div>
				</div>

				<div class="part_rating">
					<p>{{courseInformation.Ratings[0]['AVG(cI.lectureRating)'] | number:1}}</p>
				</div>	
			</li>

			<li id="lesson_rating">
				<div class="part">
					<p>Lessons</p>
				</div>

				<div class="progress_div">
					<div class="progress_bar">
						<div></div>
					</div>
				</div>

				<div class="part_rating">
					<p>{{courseInformation.Ratings[0]['AVG(cI.lessonRating)'] | number:1}}</p>
				</div>	
			</li>

			<li id="laboratory_rating">

				<div class="part">
					<p>Laboratory</p>
				</div>

				<div class="progress_div">
					<div class="progress_bar">
						<div></div>
					</div>
				</div>
				
				<div class="part_rating">
					<p>{{courseInformation.Ratings[0]['AVG(cI.laboratoryRating)'] | number:1}}</p>
				</div>	
			</li>

			<li id="seminar_rating">

				<div class="part">
					<p>Seminar</p>
				</div>

				<div class="progress_div">
					<div class="progress_bar">
						<div></div>
					</div>
				</div>
				
				<div class="part_rating">
					<p>{{courseInformation.Ratings[0]['AVG(cI.seminarRating)'] | number:1}}</p>
				</div>
			</li>

			<li id="project_rating">

				<div class="part">
					<p>Project</p>
				</div>

				<div class="progress_div">
					<div class="progress_bar">
						<div></div>
					</div>
				</div>

				<div class="part_rating">
					<p>{{courseInformation.Ratings[0]['AVG(cI.projectRating)'] | number:1}}</p>
				</div>	
			</li>

			<li id="homeassignment_rating">

				<div class="part">
					<p>Homeassignment</p>
				</div>

				<div class="progress_div">
					<div class="progress_bar">
						<div></div>
					</div>
				</div>

				<div class="part_rating">
					<p>{{courseInformation.Ratings[0]['AVG(cI.homeassignmentRating)'] | number:1}}</p>
				</div>
			</li>

			<li id="case_rating">

				<div class="part">
					<p>Case</p>
				</div>

				<div class="progress_div">
					<div class="progress_bar">
						<div></div>
					</div>
				</div>

				<div class="part_rating">
					<p>{{courseInformation.Ratings[0]['AVG(cI.caseRating)'] | number:1}}</p>
				</div>
			</li>
		</ul>		
	
	</div>

</div>