<div class="courses">

	<div id="course_selection">

		<div class="course_div" id="input">
			<p>Find Course</p>
			<div class="input_holder">

				<select id="select_country" ng-model="model_selectedCountry" ng-change="getUniversities(model_selectedCountry)">
					<option value="" disabled selected>Select Country</option>
					<option ng-repeat="country in countries">
						{{country}}
					</option>	
				</select>

			</div>

			<div class="input_holder">

				<select id="select_university" ng-model="model_selectedUniversity" ng-style=styleSelectUniversity ng-change="getCourses(model_selectedUniversity)" >
					<option value="" disabled selected>Select University</option>
					<option ng-repeat="university in universities">
						{{university}}
					</option>
				</select>

			</div>

			<div class="input_holder">

				<select id="select_course" ng-model="model_course_input" ng-style="styleSelectCourse" ng-change="clickedCourse()">
					<option value="" disables selected>Select Course</option>
					<option ng-repeat="course in courses">
						{{course}}
					</option>
				</select>

			</div>
				<div id="view_course_button">
					<a class="button" ng-click="getCourseInformation(model_course_input)" ng-style="styleViewCourseButton" ng-model="view_or_add">View Ratings</a>
				</div>
		</div>

		<div class="course_div" id="add_course_holder">
			<p>Cant find a course?</p>

			<div id="add_course_button">
					<a class="button" ng-click="addCourse()" ng-model="view_or_add">Add Course</a>
					<div id="add_course_warning_text" ng-style="add_course_warning_text">
						<p class="warning_text" id="first_warning_text">You need to be logged in to add a course. </p>
						<p class="warning_text" id="second_warning_text">It is easy and free to become a member!</p>
					</div>	
			</div>
		</div>
	</div>

	<div>
	<div id="course_information" ng-switch on="page">
		
		<div ng-switch-when="def">
			<!-- Empty Div is default-->
		</div>

		<div ng-switch-when="course_added" id="course_added">
			<p>Course was added!</p>
		</div>

		<div ng-switch-when="rating_added" id="rating_added">
			<p>Rating was added!</p>
		</div>

		<div id="course_rating" ng-switch-when="view">
			<h1>{{course}}</h1>
			<p class="general_rating">{{generalRating | number:1}}

		

			<div id="add_review_button">
				<a class="button" ng-click="addReview(model_course_input, model_selectedUniversity)">Add Review</a>

			</div>
			<div class="error_message" ng-style="add_review_message">
					<p class="warning_text" id="first_warning_text">You need to be logged in to review. </p>
					<p class="warning_text" id="second_warning_text">It is easy and free to become a member!</p>
				</div>

			</p>	
			<ul>

<!-- Usefulness -->			
				<li id="usefulness" ng-style="usefulness_style">
					<div class="course_information_list_item_container">
						<div class="part">
							<p>Usefulness</p>
						</div>

						<div class="progress_div">
							<div class="progress_bar">
								<div ng-style="usefulness_bar"></div>
							</div>
						</div>	
						
						<div class="part_rating">
							<p>{{courseInformation.Ratings[0]['AVG(cI.usefulness)'] | number:1}}</p>
						</div>
					</div>
				</li>

<!-- Difficulty -->		
				<li id="difficulty" ng-style="difficulty_style">
					<div class="course_information_list_item_container">	
						<div class="part">
							<p>Difficulty</p>
						</div>
				
						<div class="progress_div">
							<div class="progress_bar">
								<div ng-style="difficulty_bar"></div>
							</div>
						</div>
				
						<div class="part_rating">
							<p>{{courseInformation.Ratings[0]['AVG(cI.difficulty)'] | number:1}}</p>
						</div>
					</div>	
				</li>

<!-- Exam -->
				<li id="exam_rating" ng-style="exam_style" ng-click="getComments(toggle_exam=!toggle_exam, 'exam')">
					<div class="course_information_list_item_container">	
						<div class="part">
							<p>Exam</p>
						</div>

						<div class="progress_div">
							<div class="progress_bar">
								<div ng-style="exam_bar"></div>
							</div>
						</div>
					
						<div class="part_rating">
							<p>{{courseInformation.Ratings[0]['AVG(cI.examRating)'] | number:1}}</p>
						</div>
					</div>	
					<ul class="comments_list" ng-show="toggle_exam">
						<li ng-repeat="comments in courseInformation.examComments" class="comments_list_items">
							<p class="comment" >{{comments.examComment}}</p>
							<p class="date" >2014</p>
						</li>
					</ul>

					<span ng-hide="toggle_exam"></span>
				</li>

			
<!-- Lecture -->			
			<li id="lecture_rating" ng-style="lecture_style" ng-click="getComments(toggle_lecture=!toggle_lecture, 'lectures')">
			<div class="course_information_list_item_container">	
				<div class="part">
					<p>Lectures</p>
				</div>

				<div class="progress_div">
					<div class="progress_bar">
						<div ng-style="lecture_bar"></div>
					</div>
				</div>

				<div class="part_rating">
					<p>{{courseInformation.Ratings[0]['AVG(cI.lectureRating)'] | number:1}}</p>
				</div>
			</div>
			<ul class="comments_list" ng-show="toggle_lecture">
				<li ng-repeat="comments in courseInformation.lectureComments" class="comments_list_items">
					<p class="comment">{{comments.lectureComment}}</p>
					<p class="date" >2014</p>
				</li>
			</ul>
			<span ng-hide="toggle_lecture"></span>		
			</li>

			<li id="lesson_rating" ng-style="lesson_style" ng-click="getComments(toggle_lesson=!toggle_lesson)">
			<div class="course_information_list_item_container">	
				<div class="part">
					<p>Lessons</p>
				</div>

				<div class="progress_div">
					<div class="progress_bar">
						<div ng-style="lesson_bar"></div>
					</div>
				</div>

				<div class="part_rating">
					<p>{{courseInformation.Ratings[0]['AVG(cI.lessonRating)'] | number:1}}</p>
				</div>
			</div>
			<ul class="comments_list" ng-show="toggle_lesson">
				<li ng-repeat="comments in courseInformation.lessonComments" class="comments_list_items">
					<p class="comment">{{comments.lessonComment}}</p>
					<p class="date" >2014</p>
				</li>
			</ul>
			<span ng-hide="toggle_lesson"></span>		
			</li>

			<li id="laboratory_rating" ng-style="laboratory_style" ng-click="getComments(toggle_lab=!toggle_lab)">
			<div class="course_information_list_item_container">
				<div class="part">
					<p>Laboratory</p>
				</div>

				<div class="progress_div">
					<div class="progress_bar">
						<div ng-style="laboratory_bar"></div>
					</div>
				</div>
				
				<div class="part_rating">
					<p>{{courseInformation.Ratings[0]['AVG(cI.laboratoryRating)'] | number:1}}</p>
				</div>
			</div>
			<ul class="comments_list" ng-show="toggle_lab">
				<li ng-repeat="comments in courseInformation.laboratoryComments" class="comments_list_items">
					<p class="comment">{{comments.laboratoryComment}}</p>
					<p class="date" >2014</p>
				</li>
			</ul>
			<span ng-hide="toggle_lab"></span>			
			</li>

			<li id="seminar_rating" ng-style="seminar_style" ng-click="getComments(toggle_seminar=!toggle_seminar)">
			<div class="course_information_list_item_container">
				<div class="part">
					<p>Seminar</p>
				</div>

				<div class="progress_div">
					<div class="progress_bar">
						<div ng-style="seminar_bar"></div>
					</div>
				</div>
				
				<div class="part_rating">
					<p>{{courseInformation.Ratings[0]['AVG(cI.seminarRating)'] | number:1}}</p>
				</div>
			</div>
			<ul class="comments_list" ng-show="toggle_seminar">
				<li ng-repeat="comments in courseInformation.seminarComments" class="comments_list_items">
					<p class="comment">{{comments.seminarComment}}</p>
					<p class="date" >2014</p>
				</li>
			</ul>
			<span ng-hide="toggle_seminar"></span>	
			</li>

			<li id="project_rating" ng-style="project_style" ng-click="getComments(toggle_project=!toggle_project)">
			<div class="course_information_list_item_container">
				<div class="part">
					<p>Project</p>
				</div>

				<div class="progress_div">
					<div class="progress_bar">
						<div ng-style="project_bar"></div>
					</div>
				</div>

				<div class="part_rating">
					<p>{{courseInformation.Ratings[0]['AVG(cI.projectRating)'] | number:1}}</p>
				</div>	
			</div>
			<ul class="comments_list" ng-show="toggle_project">
				<li ng-repeat="comments in courseInformation.projectComments" class="comments_list_items">
					<p class="comment">{{comments.projectComment}}</p>
					<p class="date" >2014</p>
				</li>
			</ul>
			<span ng-hide="toggle_project"></span>		
			</li>

			<li id="homeassignment_rating" ng-style="homeassignment_style" ng-click="getComments(toggle_home=!toggle_home)">
			<div class="course_information_list_item_container">
				<div class="part">
					<p>Homeassignment</p>
				</div>

				<div class="progress_div">
					<div class="progress_bar">
						<div ng-style="homeassignment_bar"></div>
					</div>
				</div>

				<div class="part_rating">
					<p>{{courseInformation.Ratings[0]['AVG(cI.homeassignmentRating)'] | number:1}}</p>
				</div>
			</div>
			<ul class="comments_list" ng-show="toggle_home">
				<li ng-repeat="comments in courseInformation.homeassignmentComments" class="comments_list_items">
					<p class="comment">{{comments.homeassignmentComment}}</p>
					<p class="date" >2014</p>
				</li>
			</ul>
			<span ng-hide="toggle_home"></span>		
			</li>

			<li id="case_rating" ng-style="case_style" ng-click="getComments(toggle_case=!toggle_case)">
			<div class="course_information_list_item_container">
				<div class="part">
					<p>Case</p>
				</div>

				<div class="progress_div">
					<div class="progress_bar">
						<div ng-style="case_bar"></div>
					</div>
				</div>

				<div class="part_rating">
					<p>{{courseInformation.Ratings[0]['AVG(cI.caseRating)'] | number:1}}</p>
				</div>
			</div>
			<ul class="comments_list" ng-show="toggle_case">
				<li ng-repeat="comments in courseInformation.caseComments" class="comments_list_items">
					<p>{{comments.caseComment}}</p>
					<p>2014</p>
				</li>
			</ul>
			<span ng-hide="toggle_case"></span>		
			</li>
		</ul>		
		</div> <!-- ng-switch ratings -->

<!-- ----------------------------ADD COURse ------------------------------>		

		<div id="add_course" ng-switch-when="addCourse" ng-controller="addCourseController">

			<div id="add_course_form_div" class="form_div">
			
				<form id="add_course_form" class="form_form" method="POST" accept-charset='UTF-8'>

					<div class="form_item">
						<label for="country">
							<i class="fa fa-globe"></i>
						</label>
						<select name="country" ng-model="model_selectedCountry" ng-change="getUniversities(model_selectedCountry)" required>
							<option value="" disabled selected>Select Country</option>
							<option ng-repeat="country in countries">
								{{country}}
							</option>	
						</select>
					</div>

					<div class="form_item">
						<label for="university">
							<i class="fa fa-university"></i>
						</label>
						<select name="university" ng-model="model_selectedUniversity" required>
							<option value="" disabled selected>Select University</option>
							<option ng-repeat="university in universities">
								{{university}}
							</option>
						</select>
					</div>
					
					<div class="form_item">
						<label for="courseCode">
							<i class="fa fa-book"></i>
						</label>
						<input type="text" ng-model="course_code" name="courseCode" placeholder="Course code" required/>
					</div>


					<div id="checkbox_div">		
						<div class="input_div">
							<label for="lectures_part">
								<input type="checkbox" ng-model="lectures_part" name="course_part_lectures" id="lectures_part" checked>
								<span>Lectures</span>
							</label>
						</div>
	
						<div class="input_div">
							<label for="lessons_part">
								<input type="checkbox" ng-model="lessons_part" name="course_part_lessons" id="lessons_part">
								<span>Lessons</span>
							</label>
						</div>
						
						<div class="input_div">
							<label for="exam_part">
								<input type="checkbox" ng-model="exam_part" name="course_part_exam" id="exam_part">
								<span>Exam</span>
							</label>
						</div>
							
						<div class="input_div">
							<label for="laboratory_part">	
								<input type="checkbox" ng-model="laboratory_part" name="course_part_laboratory" id="laboratory_part">
								<span>Laboratory</span>
							</label>
						</div>

						<div class="input_div">
							<label for="seminar_part">
								<input type="checkbox" ng-model="seminar_part" name="course_part_seminar" id="seminar_part">
								<span>Seminar</span>
							</label>
						</div>
	
						<div class="input_div">
							<label for="project_part">
								<input type="checkbox" ng-model="project_part" name="course_part_project" id="project_part">
								<span>Project</span>
							</label>
						</div>

						<div class="input_div">
							<label for="homeassignment_part">
								<input type="checkbox" ng-model="homeassignment_part" name="course_part_homeassignment" id="homeassignment_part">
								<span>Homeassignment</span>
							</label>
						</div>
	
						<div class="input_div">
							<label for="case_part">
								<input type="checkbox" ng-model="case_part" name="course_part_case" id="case_part">
								<span>Case</span>
							</label>
						</div>
					</div>
					
					<input type="submit" ng-click="submitCourse(model_selectedUniversity, course_code, lectures_part, lessons_part, exam_part, laboratory_part, seminar_part, project_part, homeassignment_part, case_part)" class="button" id="add_course_form_button"value="Add"/>
				</form>

				<div class="error_message" id="add_course_message">
					<p ng-bind="message"></p>
				</div>	

			</div>
			<br style="clear:both;"/>
		</div>
<!----------------------- ADD REVIEW  -------------------------------->
		<div id="add_review" ng-switch-when="addReview" ng-controller="rateCourseController">
			<h1>{{course}}</h1>

			<div class="form_div" id="form_div_review">
				<form class="form_form">

					<div class="part_review"  ng-repeat="rating in ratings">	
						<p>{{rating.name}}</p>
       						<div star-rating rating-value="rating.current" max="rating.max"
       					 	on-rating-selected="getSelectedRating(rating)"></div>

       					 	<textarea class="review_comment" ng-hide="rating.name=='Usefulness' || rating.name=='Difficulty'" 
       					 	ng-model="rating.comment" placeholder="Comment (optional)"></textarea>
        			</div>
        				

				<input type="submit" ng-click="submitReview(ratings)" class="button" id="add_review_form_button" value="Add"/>
				</form>
				

			</div>
		</div>	
	</div>

</div>