<div class="home">

	<div id="home_information">
		<div id="about">
			<h1>CourseRater</h1>
			<h2>The simple way to evaluate courses</h2>
		</div>
		<div id="news">
			<h1>Soon on Android</h1>
			<i class="fa fa-android" id="android"></i>
		</div>	
	</div>

	<div id="registration" class="form_div">
		
		<form id="registration_form" class="form_form" accept-charset='UTF-8'>
			<h1>Become a member</h1>
			<h2>It's easy and free!</h2>

			<div class="form_item">
				<label for="email">
					<i class="fa fa-envelope-o"></i>
				</label>
				<input type="email" name="email" ng-model="email" placeholder="Email" required/>
			</div>	
			
			<div class="form_item">
				<label for="country">
					<i class="fa fa-globe"></i>
				</label>
				<select name="country" ng-model="model_selectedCountry" ng-change="getUniversities(model_selectedCountry)" required>
					<option value="" disabled selected>Select Country</option>
					<option ng-repeat="country in countries">
						{{country}}
					</option>	
				</select>
			</div>

			<div class="form_item">
				<label for="university">
					<i class="fa fa-university"></i>
				</label>
				<select name="university" ng-model="selected_university" required>
					<option value="" disabled selected>Select University</option>
					<option ng-repeat="university in universities">
						{{university}}
					</option>
				</select>
			</div>
			
			<div class="form_item">
				<label for="password">
					<i class="fa fa-shield"></i>
				</label>
				<input type="password" name="password" ng-model="pass" placeholder="Password" required/>
			</div>
			
			<div class="form_item">
				<label for=repassword>
					<i class="fa fa-shield"></i>
				</label>		
				<input type="password" name="repassword" ng-model="re_pass" placeholder="Repeat Password" required/>
			</div>
			
			<input type="submit" class="button" ng-click="registerUser(email, model_selectedCountry, selected_university, pass, re_pass)" value="Register"/>
		</form>

		<div class="error_message" id="register_message">
			<p ng-bind="message_register"></p>
		</div>


	</div>
	<br style="clear:both;"/>
</div>