<!DOCTYPE html>
<html ng-app="courseApp">

<head>
<meta charset="UTF-8" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-animate.js"></script>
<script type="text/javascript" src="script/main.js"></script>
<script type="text/javascript" src="script/nav_controller.js"></script>
<script type="text/javascript" src="script/course_controller.js"></script>
<script type="text/javascript" src="script/add_course_controller.js"></script>
<script type="text/javascript" src="script/rate_course_controller.js"></script>
<script type="text/javascript" src="script/home_controller.js"></script>
<link rel="stylesheet" href="css/header_style.css">
<link rel="stylesheet" href="css/home.css">
<link rel="stylesheet" href="css/course_style.css">
<link rel="stylesheet" href="css/reset_stylesheet.css">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>

<body ng-controller="homeController">

<div class="content">

	<header>
		<nav id="navigation" ng-controller="navController">

			<ul id="navigation_menu">
				<li ng-class="{ active: isActive('/') }">
					<a href="#">
						<span class="fa fa-bolt"></span>
						Home
					</a>
				</li>
			
				<li ng-class="{ active: isActive('/courses') }">
					<a href="#courses">
						<span class="fa fa-book"></span>
						Courses
					</a>
				</li>
<!--
				<li ng-class="{ active: isActive('/about') }" > 
					<a href="#about">
						<span class="fa fa-"></span>
						About
					</a>
				</li>
			-->

				<li ng-class="{ active: isActive('/contact') }" >
					<a href="#contact">
						<span class="fa fa-at"></span>
						Contact
					</a>
				</li>
			</ul>

			<div id="login_box">

				<form id="login_form" accept-charset="UTF-8" ng-style="login_form">
					<div id="login_inputs">
						<input type="email" ng-model="email" name="email" maxlength="50" placeholder="Email"/>
						<input type="password" name="password" ng-model="password" id="password" maxlength="50" placeholder="Password" />
					</div>
					<div id="login_div">
						<input class="button" id="login_button" ng-click="login(email, password)"type="submit" name="submit" value="Login" />
						<a class="log_link" href="#">Register</a>
					</div>
				</form>

				<div id="logged_in_box" ng-style="logged_in_box">
					<p>{{userEmail}}</p>

					<a id="logout_button" ng-click=logout() href="#">Logout</a>
				</div>	
				<div id="login_mess">
					<p ng-bind="login_message"></p>
				</div>
			</div>	
		</nav>

	</header>

	<div id="main">

	<!--INSERT ANGUALR TEMPLATE HERE -->
		<div ng-view>
			
		</div>

	</div>
</div>
</body>
</html>
